@import url("https://cdn.jsdelivr.net/gh/Nu-SCPTheme/Black-Highlighter@gh-pages/css/min/normalize.min.css");
@import url("https://cdn.jsdelivr.net/gh/Nu-SCPTheme/Black-Highlighter@gh-pages/css/min/black-highlighter.min.css");
@import url("http://fondationscp.wikidot.com/component:dustjacket-theme-typefaces/code/1");
@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --theme-base: "nuscp";
  --theme-name: "Thème de la Bibliothèque des Vagabonds";
  --logo-image: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/wl_logo.png");
  --header-title: "La Bibliothèque des Vagabonds";
  --header-subtitle: " ";
  --ct_cnt_alt-header-txt: "La Bibliothèque des Vagabonds";
  --ct_fns_alt-header-txt: clamp(38px, 5vw, 50px);
  --ct_fns_header-txt: 0;
  --ct_cnt_alt-slogan-txt: "";
  --ct_fns_alt-slogan-txt: clamp(14px, 2.125vw, 20px);
  --ct_fns_slogan-txt: 0;
  --body-font: Texturina, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  --header-font: zuijinregular, Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
  --title-font: "EB Garamond", Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
  --UI-font: "EB Garamond", Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
  --mono-font: Recursive, Consolas, monaco, monospace;
  --header-h1-font-size: calc(var(--base-font-size) * 3);
  --ui-wght: 600;
  --ui-hvr-wght: 600;
  --MONO: 0;
  --CASL: 1;
  --CRSV: 1;
  --white-monochrome: 252, 252, 252;
  --pale-gray-monochrome: 173, 193, 177;
  --light-pale-gray-monochrome: 255, 250, 215;
  --very-light-gray-monochrome: 220, 230, 220;
  --light-gray-monochrome: 130, 160, 135;
  --gray-monochrome: 45, 70, 45;
  --dark-gray-monochrome: 30, 55, 30;
  --black-monochrome: 12, 12, 12;
  --bright-accent: 255, 219, 90;
  --medium-accent: 228, 180, 28;
  --dark-accent: var(--dark-gray-monochrome);
  --alt-accent: 221, 102, 17;
  --swatch-primary: var(--bright-accent);
  --swatch-primary-darker: var(--medium-accent);
  --swatch-primary-darkest: var(--dark-accent);
  --swatch-border-color: var(--medium-accent);
  --swatch-text-dark: var(--black-monochrome);
  --swatch-text-light: var(--white-monochrome);
  --swatch-important-text: var(--bright-accent);
  --swatch-background: var(--white-monochrome);
  --swatch-headerh1-color: var(--white-monochrome);
  --swatch-headerh2-color: var(--white-monochrome);
  --swatch-menubg-color: var(--dark-gray-monochrome);
  --swatch-menutxt-dark-color: var(--dark-gray-monochrome);
  --swatch-menutxt-light-color: var(--bright-accent);
  --swatch-topmenu-bg-color: var(--dark-gray-monochrome);
  --swatch-topmenu-border-color: var(--bright-accent);
  --link-color: var(--medium-accent);
  --visited-link-color: var(--medium-accent);
  --hover-link-color: var(--dark-gray-monochrome);
  --rating-module-text-color: var(--bright-accent);
  --gradient-header: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/wl-headerbg.png");
  --diagonal-stripes: unset;
  --header-height-on-desktop: 10rem;
  --header-height-on-mobile: 7.5rem;
  --topbar-height-on-desktop: 1.625rem;
  --body-width-on-desktop: 61.250rem;
  --sidebar-width-on-desktop: calc(var(--base-font-size) * (266/ 15));

  /* FR Credit module compatibility */
  --ct_col_rate-primary: linear-gradient(to top, rgba(var(--swatch-menubg-dark-color), 1) 0, rgba(var(--swatch-menubg-medium-color), 1) 100%);
}

#header {
  --search-icon-hover-color: var(--swatch-menubg-dark-color);
  --search-icon-focus-color: var(--swatch-menubg-dark-color);
  --login-dropdown-text-hover-color: var(--swatch-menutxt-dark-color);
}

#top-bar {
  --dropdown-links-hover-color: var(--swatch-text-tertiary-color);
}

#side-bar {
  --sidebar-links-text: var(--swatch-menutxt-light-color);
  --sidebar-links-hover-text-color: var(--swatch-text-tertiary-color);
}

#main-content {
  --ui-icon-color: var(--swatch-text-tertiary-color);
  --ui-icon-hover-color: var(--swatch-text-tertiary-color);
  --editor-icon-hover-color: var(--swatch-text-tertiary-color);
  --tabs-hover-txt: var(--swatch-text-tertiary-color);
  --tabs-selected-txt: var(--swatch-text-tertiary-color);
  --pagetags-text-hover-color: var(--swatch-text-tertiary-color);
}

:root {
  --ui-button-hover-txt: var(--swatch-text-tertiary-color);
  --rating-module-bottom-border-color: 0, 0, 0, 0;
  --modal-bg: var(--swatch-background);
  --modal-body-header-txt: var(--swatch-primary-darkest);
  --modal-header-bg: var(--swatch-primary-darkest);
  --modal-header-txt: var(--swatch-primary);
  --modal-header-stripe: var(--light-gray-monochrome);
  --hoverblock-bg: var(--swatch-primary-darkest);
  --hoverblock-txt: var(--swatch-text-secondary-color);
  --hoverblock-header-bg: var(--swatch-primary);
  --hoverblock-header-txt: var(--swatch-text-tertiary-color);
  --pager-text: var(--swatch-text-general);
  --pager-link-hover: var(--swatch-text-tertiary-color);
  --pager-hover-bg: var(--swatch-primary-darker);
  --pager-selected-link: var(--swatch-text-tertiary-color);
}

::-moz-selection {
  background: rgba(255, 219, 90, 0.5);
  background: rgba(var(--bright-accent), 0.5);
  text-shadow: none;
}

::selection {
  background: rgba(255, 219, 90, 0.5);
  background: rgba(var(--bright-accent), 0.5);
  text-shadow: none;
}

@supports (font-variation-settings: inherit) {
  *,
  *::before,
  *::after {
    font-variation-settings: "wght" var(--wght, 300), "ital" var(--ital, 0), "slnt" var(--slnt, 0), "CASL" var(--CASL, 0), "CRSV" var(--CRSV, 0), "MONO" var(--MONO, 0), "FLAR" var(--FLAR, 0);
  }
}

hr {
  height: .125rem;
  border: 0;
  border-top: 0.0625rem solid transparent;
  background: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/goldfoil.png");
  background-color: rgba(255, 219, 90);
  background-color: rgba(var(--bright-accent));
  background-size: cover;
}

#page-title,
.meta-title {
  --wght: normal;
  font-weight: var(--wght);
}

#page-title::before,
.meta-title::before,
#page-title::after,
.meta-title::after {
  background-color: rgb(var(--swatch-primary));
  background-image: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/goldfoil.png");
}

#page-title::before,
.meta-title::before {
  content: "";
  flex-grow: 1;
  height: 0.0625rem;
}

#page-title::before,
.meta-title::before {
  margin: auto 1.25rem auto auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --wght: 600;
}

textarea {
  letter-spacing: 0.02em;
}

#header {
  --search-icon-hover-bg-color: var(--swatch-primary);
  --search-focus-textbox-text-color: var(--swatch-text-tertiary-color);
}

div#extra-div-1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height-on-desktop);
}

div#extra-div-1 {
  z-index: -2;
  background: linear-gradient(to bottom, rgba(30, 55, 30, 1) 0%, rgba(30, 55, 30, 1) 30%, rgba(255, 219, 90, 1) 100%);
  background: var(--gradient-header);
  background-repeat: repeat;
  background-size: var(--header-background-image-size);
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: calc((var(--header-height-on-desktop) + 0.125rem) * -1);
  background-image: initial;
  -webkit-filter: inherit;
  filter: inherit;
}

#header::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height-on-desktop);
  opacity: 0.75;
  background-image: var(--logo-image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 8rem;
  pointer-events: none;
}

#header h1,
#header h1 a,
#header h1 a::before,
#header h1 a::after {
  --wght: 700;
  display: flex;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--header-height-on-desktop);
  max-height: inherit;
  margin: 0;
  padding: 0;
}

#header h1 a,
#header h1 a::before,
#header h1 a::after {
  color: rgb(var(--swatch-headerh1-color));
  line-height: 0.8;
  text-align: center;
  overflow-wrap: normal;
}

#header h1 a::before,
#header h1 a::after {
  --header-title: "La Bibliothèque des Vagabonds";
  content: "La Bibliothèque des Vagabonds";
  content: var(--header-title);
}

#header h1 a::after {
  background: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/goldfoil.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  -webkit-text-fill-color: transparent;
}

#header h1 a::before {
  text-shadow: rgba(var(--dark-gray-monochrome), 0.5) 0.125rem 0rem 0, rgba(var(--gray-monochrome), 0.5) 0.0675rem 0.1052rem 0, rgba(var(--gray-monochrome), 0.5) -0.052rem 0.1137rem 0, rgba(var(--dark-gray-monochrome), 0.5) -0.1237rem 0.0176rem 0, rgba(var(--dark-gray-monochrome), 0.5) -0.0817rem -0.0946rem 0, rgba(var(--dark-gray-monochrome), 0.5) 0.0355rem -0.1199rem 0, rgba(var(--dark-gray-monochrome), 0.5) 0.12rem -0.0349rem 0;
}

#header>h1>a>span {
  top: 0;
  left: 0;
  width: 100%;
  max-width: inherit;
  height: var(--header-height-on-desktop);
}

#header h2 {
  display: none;
}

#search-top-box form[id="search-top-box-form"]:not(:focus-within) input[type="text"] {
  color: rgba(0, 0, 0, 0);
}

@media (min-width: 56.25rem) {
  #login-status {
    flex-grow: 1;
    left: 3%;
    right: initial;
  }

  #login-status #my-account {
    --wght: 300;
  }

  #account-options {
    background: var(--gradient-header);
  }

  #search-top-box {
    background: rgba(var(--search-focus-textbox-bg-color), 0.4);
    box-shadow: calc(var(--search-height) / 2 * -1) 0 calc(var(--search-height) / 2) rgba(var(--search-focus-textbox-bg-color), 0.4);
  }

  #search-top-box::after {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1), clip-path 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1), clip-path 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  #search-top-box:not(:focus-within)::after {
    background-color: rgba(var(--search-icon-bg-color, --dark-accent), 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  #search-top-box:not(:focus-within):hover::after {
    --clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: rgb(var(--search-icon-hover-bg-color));
  }

  #search-top-box form[id="search-top-box-form"]:not(:focus-within) {
    max-width: var(--search-width);
  }

  #search-top-box form[id="search-top-box-form"]:not(:focus-within) input[type="text"] {
    max-width: var(--search-width);
    padding: 0 var(--search-height) 0 1em;
    outline-width: 0;
    background-color: rgb(var(--search-focus-textbox-bg-color), 0.35);
    color: rgba(var(--swatch-menutxt-light-color), 0.4);
    cursor: pointer;
  }

  #search-top-box form[id="search-top-box-form"]:not(:focus-within) input[type="submit"],
  #search-top-box form[id="search-top-box-form"]:focus-within input[type="submit"] {
    pointer-events: all;
    border: none;
  }
}

div#extrac-div-1 {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

div#extrac-div-1 span {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: calc(-1 * (var(--header-height-on-desktop) + 0.125rem));
  right: 0;
  left: 0;
  box-sizing: inherit;
  align-items: center;
  width: 100%;
  height: var(--final-header-height-on-desktop);
  margin: 0;
  margin-top: 0;
  padding: 0;
  background: var(--gradient-topmenu);
  background-size: 100% var(--final-header-height-on-desktop);
}

#top-bar br {
  display: none;
}

#header div[class*="top-bar"] li a {
  transition: font-weight 300ms cubic-bezier(0.4, 0, 0.2, 1), font-variation-settings 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

#top-bar>div.top-bar>ul>li.newpage>ul:first-of-type>li:first-of-type>a,
#top-bar>div.mobile-top-bar>ul>li.newpage>ul:first-of-type>li:first-of-type>a {
  display: none;
}

#top-bar>div.top-bar>ul>li.newpage>ul:first-of-type,
#top-bar>div.top-bar>ul>li.newpage>ul:first-of-type>li:first-of-type {
  height: auto;
}

#top-bar>div.top-bar>ul>li.newpage>ul:first-of-type>li:first-of-type:hover {
  background: transparent;
}

#top-bar div.top-bar div.newpage_dropdown {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top-bar div.top-bar div.newpage_dropdown>.new-page-box {
  width: 100%;
  height: 70%;
}

#top-bar div.top-bar div.newpage_dropdown div.new-page-box form,
#top-bar div.mobile-top-bar div.newpage_dropdown div.new-page-box form {
  flex-direction: column;
  padding: 0 1rem;
}

#top-bar div.top-bar div.newpage_dropdown div.new-page-box form,
#top-bar div.mobile-top-bar div.newpage_dropdown div.new-page-box form,
#top-bar div.top-bar div.newpage_dropdown div.new-page-box input {
  display: flex;
  align-items: center;
  justify-content: center;
}

#top-bar div.top-bar div.newpage_dropdown div.new-page-box input {
  box-sizing: border-box;
  width: 100%;
  margin: 0 !important;
  padding: 0.25rem;
  background-color: rgba(30, 55, 30);
  background-color: rgba(var(--swatch-topmenu-bg-color));
  color: rgba(255, 219, 90);
  color: rgba(var(--swatch-menutxt-light-color));
  font-family: 'zuijinregular', 'Poppins', sans-serif;
  font-family: var(--header-font);
  font-size: calc(var(--base-font-size)*1.1);
}

#top-bar div.top-bar div.newpage_dropdown div.new-page-box input.text {
  height: 2rem !important;
  margin-bottom: -0.0625rem !important;
  background-color: rgba(30, 55, 30, 0.25);
  background-color: rgba(var(--swatch-menubg-dark-color), 0.25);
}

#top-bar div.top-bar div.newpage_dropdown div.new-page-box input.button {
  border: unset !important;
}

#top-bar div.top-bar div.newpage_dropdown div.new-page-box input.button:hover {
  background: rgba(252, 252, 252, 0.15);
  background: rgba(var(--swatch-menubg-color), 0.15);
  cursor: pointer;
}

#side-bar {
  background: rgba(var(--swatch-menubg-dark-color), 1);
}

.side-block div:nth-of-type(1) form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.6rem 1rem;
}

.side-block div:nth-of-type(1) input.button,
.side-block div:nth-of-type(1) input.text {
  width: 100%;
  margin: 0 !important;
  padding: 0.25rem;
  background-color: rgba(30, 55, 30);
  background-color: rgba(var(--swatch-topmenu-bg-color));
  color: rgba(255, 219, 90);
  color: rgba(var(--swatch-menutxt-light-color));
  font-family: 'zuijinregular', 'Poppins', sans-serif;
  font-family: var(--header-font);
  font-size: calc(var(--base-font-size)*1.1);
}

#side-bar div.menu-item input.text {
  height: 3rem !important;
  margin-bottom: -0.0625rem !important;
  background-color: rgba(30, 55, 30, 0.25) !important;
  background-color: rgba(var(--swatch-topmenu-bg-color), 0.25) !important;
  font-family: adelle-sans, 'Lato', sans-serif;
  font-family: var(--body-font);
  cursor: text;
}

.side-block div:nth-of-type(1) input.button {
  justify-content: center;
  margin-top: 0.25rem;
  padding: 0.25rem;
  transition: background-color 300ms cubic-bezier(0.4, 0.0, 0.2, 1), color 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  border: 0.125rem solid rgba(255, 219, 90, 1);
  border: 0.125rem solid rgba(var(--swatch-primary), 1);
  border-radius: .25rem;
  background-color: rgba(30, 55, 30, 1);
  background-color: rgba(var(--swatch-menubg-dark-color), 1);
  color: rgba(var(--swatch-primary), 1);
  font-family: var(--title-font);
  cursor: pointer;
  will-change: background-color, color;
}

.side-block div:nth-of-type(1) input.button:hover,
.side-block div:nth-of-type(1) input.button:active {
  background-color: rgba(255, 219, 90, 1);
  background-color: rgba(var(--swatch-primary), 1);
  color: rgba(30, 55, 30, 1);
  color: rgba(var(--swatch-menubg-dark-color), 1);
}

#side-bar .heading,
#side-bar .side-block>.collapsible-block:nth-child(1) .collapsible-block-folded {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 2rem;
  box-shadow: 0 0.125rem 0 0 rgb(var(--swatch-primary-darker));
  font-family: var(--title-font);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#side-bar .heading p,
#side-bar .side-block>.collapsible-block:nth-child(1) .collapsible-block-folded p {
  font-size: 1.1em;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(var(--swatch-border-color), 0);
}

#side-bar div.menu-item {
  height: auto;
}

#side-bar div.menu-item .text,
#side-bar div.menu-item a {
  box-shadow: inset 0 0.0625rem 0 0 rgb(var(--swatch-primary-darkest));
}

#side-bar .heading+#side-bar div.menu-item .text,
#side-bar .heading+#side-bar div.menu-item a {
  box-shadow: initial;
}

#side-bar div.menu-item .text,
#side-bar div.menu-item a {
  padding: 0.125em 0;
  font-size: calc(var(--base-font-size) * 1.2);
  padding-left: 0.5em;
  text-indent: 0.5em;
}

#side-bar div.sub-item .text,
#side-bar div.sub-item a {
  font-size: calc(var(--base-font-size) * 1);
  padding-left: 1.25em;
}

#side-bar div.sub-item .text::after,
#side-bar div.sub-item a::after {
  content: "\0021b3";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 100%;
  color: rgb(var(--swatch-menubg-light-color))
}

#side-bar div.sub-item a:hover::after,
#side-bar div.sub-item a:active::after {
  color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar div.sub-item a:focus-within::after {
  color: rgb(var(--sidebar-links-hover-text-color));
}

#side-bar div.menu-item a[href*="/scp-"] {
  width: initial;
  padding: 0.125em 0;
  text-align: initial;
}

@media only screen and (min-width: 56.25rem) {
  #side-bar .close-menu {
    display: block;
    position: fixed;
    top: 0.25rem;
    left: 0.5rem;
    width: 3rem;
    opacity: 1;
    pointer-events: all;
    z-index: -1;
  }

  #side-bar .close-menu img {
    color: transparent;
  }

  #side-bar .close-menu::before,
  #side-bar .close-menu::after {
    content: "";
    box-sizing: border-box;
    position: fixed;
    display: block;
    top: 0.25rem;
    left: 0.5rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    transition: opacity var(--sidebar-transition-timing);
  }

  #side-bar .close-menu::before {
    --mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Hamburger' x='0' y='0' baseProfile='tiny' overflow='visible' version='1.2' viewBox='0 0 32 32' xml:space='preserve'%3E%3Cpath d='M4 10h24c1.1 0 2-.9 2-2s-.9-2-2-2H4c-1.1 0-2 .9-2 2s.9 2 2 2zm24 4H4c-1.1 0-2 .9-2 2s.9 2 2 2h24c1.1 0 2-.9 2-2s-.9-2-2-2zm0 8H4c-1.1 0-2 .9-2 2s.9 2 2 2h24c1.1 0 2-.9 2-2s-.9-2-2-2z'/%3E%3C/svg%3E");
    z-index: -1;
    background-color: var(--toggle-icon-color, rgb(var(--sidebar-links-text))) !important;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-size: 60%;
    mask-size: 60%;
  }

  #side-bar .close-menu::after {
    z-index: -2;
    background-color: var(--toggle-button-bg, rgb(var(--sidebar-bg-color))) !important;
    border-radius: var(--toggle-roundness, 50%);
    border: var(--toggle-border-color, rgb(var(--sidebar-links-text))) var(--toggle-border-width, 0.25rem) solid;
  }

  #side-bar:focus-within .close-menu::before,
  #side-bar:focus-within .close-menu::after {
    opacity: 0;
  }

  #side-bar {
    display: block;
    position: fixed;
    top: 0;
    left: calc(var(--sidebar-width-on-desktop)*-1);
    z-index: 10;
    transition: left 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0;
  }

  #side-bar:focus-within {
    left: 0;
  }

  #side-bar .side-block {
    margin-top: 1rem;
    background-color: rgb(0, 0, 0, 0);
    border-radius: 0;
    border-left-width: 0px;
    border-right-width: 0px;
  }

  #main-content::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, width 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    margin-left: var(--sidebar-width-on-desktop);
    background: rgba(var(--swatch-menubg-black-color), .3) 1px 1px repeat;
    padding-right: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 99;
  }

  #side-bar:focus-within~#main-content::before {
    width: calc(100% - var(--sidebar-width-on-desktop));
    opacity: 1;
    pointer-events: all;
  }

  #content-wrap {
    display: flex;
    flex-direction: row;
    width: calc(100vw - (100vw - 100%));
    min-height: calc(100vh - calc(var(--final-header-height-on-desktop, 10.125rem)));
    flex-grow: 2;
    height: auto;
    position: relative;
    margin: 0 auto;
    max-width: inherit;
  }

  #main-content {
    width: 100%;
    position: initial;
    max-height: 100%;
    padding: 2rem 1rem;
    width: var(--body-width-on-desktop, 45.75rem);
    max-width: var(--body-width-on-desktop, 45.75rem);
    margin: 0 auto;
  }

  @media not all and (-webkit-min-device-pixel-ratio:0),
  not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      #side-bar {
        transition: left 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, padding-right 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
        padding-right: 0;
        background-color: rgb(0, 0, 0, 0);
        pointer-events: all;
        overflow-x: visible;
        overflow-y: visible;
        z-index: 999;
      }

      #side-bar::-webkit-scrollbar {
        opacity: 0;
        -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
        transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
      }

      #side-bar .close-menu::before {
        z-index: 999;
      }

      #side-bar .close-menu::after {
        z-index: 998;
      }

      #side-bar:hover .close-menu::before {
        opacity: 0;
      }

      #side-bar:hover {
        left: 0;
        background-color: rgba(var(--swatch-menubg-color), 1);
        padding-right: 0;
      }

      #side-bar:hover::-webkit-scrollbar {
        opacity: 1;
      }

      #side-bar:hover~#main-content::before {
        width: calc(100% - var(--sidebar-width-on-desktop));
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

html,
body {
  scrollbar-color: rgb(var(--medium-accent)) rgb(var(--dark-gray-monochrome));
}

::-webkit-scrollbar,
#side-bar:hover::-webkit-scrollbar {
  background-color: rgb(var(--dark-gray-monochrome));
}

::-webkit-scrollbar-thumb,
#side-bar:hover::-webkit-scrollbar-thumb {
  background-color: rgb(var(--medium-accent));
}

#main-content .page-tags a[href^="/system:page-tags/tag/_"] {
  display: none;
}

div#page-title,
.meta-title {
  text-align: center;
}

@media only screen and (min-width: 56.25rem) {
  #main-content {
    position: initial;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
}

#content-wrap {
  grid-template-areas: "content content content";
  grid-template-columns: 1fr;
}

#main-content .page-tags span {
  justify-content: flex-start;
}

#main-content .page-tags span a:-webkit-any-link:not([href^="/system:page-tags/tag/_"]) {
  --wght: 500;
  display: inline;
  position: relative;
  flex-grow: 0;
  width: -webkit-max-content;
  width: max-content;
  height: 1.175em;
  margin: 0 0 0 0.5125rem;
  padding: 0.1875rem 0.3125rem 0.1875rem 1rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: rgb(var(--swatch-menubg-dark-color));
  color: rgb(var(--swatch-menutxt-light-color));
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  text-decoration: none;
  -webkit-clip-path: polygon(0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%, 0 50%);
  clip-path: polygon(0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%, 0 50%);
}

#main-content .page-tags span a:-moz-any-link:not([href^="/system:page-tags/tag/_"]) {
  --wght: 500;
  display: inline;
  position: relative;
  flex-grow: 0;
  width: -moz-max-content;
  width: max-content;
  height: 1.175em;
  margin: 0 0 0 0.5125rem;
  padding: 0.1875rem 0.3125rem 0.1875rem 1rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: rgb(var(--swatch-menubg-dark-color));
  color: rgb(var(--swatch-menutxt-light-color));
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  text-decoration: none;
  clip-path: polygon(0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%, 0 50%);
}

#main-content .page-tags span a:any-link:not([href^="/system:page-tags/tag/_"]) {
  --wght: 500;
  display: inline;
  position: relative;
  flex-grow: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 1.175em;
  margin: 0 0 0 0.5125rem;
  padding: 0.1875rem 0.3125rem 0.1875rem 1rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: rgb(var(--swatch-menubg-dark-color));
  color: rgb(var(--swatch-menutxt-light-color));
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  text-decoration: none;
  -webkit-clip-path: polygon(0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%, 0 50%);
  clip-path: polygon(0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%, 0 50%);
}

#main-content .page-tags span a:hover:not([href^="/system:page-tags/tag/_"]),
#main-content .page-tags span a:active:not([href^="/system:page-tags/tag/_"]) {
  color: rgb(var(--swatch-menutxt-dark-color));
}

#main-content .page-tags span a:focus-within:not([href^="/system:page-tags/tag/_"]) {
  color: rgb(var(--swatch-menutxt-dark-color));
}

#main-content .page-tags span a:-webkit-any-link:not([href^="/system:page-tags/tag/_"])::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 0.25rem;
  height: 0.25rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgb(var(--swatch-background));
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgb(var(--swatch-menubg-dark-color));
}

#main-content .page-tags span a:-moz-any-link:not([href^="/system:page-tags/tag/_"])::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 0.25rem;
  height: 0.25rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgb(var(--swatch-background));
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgb(var(--swatch-menubg-dark-color));
}

#main-content .page-tags span a:any-link:not([href^="/system:page-tags/tag/_"])::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 0.25rem;
  height: 0.25rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgb(var(--swatch-background));
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgb(var(--swatch-menubg-dark-color));
}

#page-content {
  --MONO: 1;
  --CRSV: 0;
  --CASL: 0;
}

.page-tags span {
  border-top: .5rem solid transparent;
}

#breadcrumbs {
  margin: -1em 0 1em;
  font-weight: 85%;
}

blockquote,
.blockquote,
div.blockquote,
[class*="blockquote"] {
  border: 0.1875rem outset rgb(var(--medium-accent));
  background-color: rgb(var(--very-light-gray-monochrome));
}

div.page-watch-options a:hover,
div.page-watch-options a:active {
  color: rgb(var(--hover-link-color));
}

div.page-watch-options a:focus-within {
  color: rgb(var(--hover-link-color));
}

.forum-thread-box .description-block {
  border: 0.125rem solid rgb(228, 180, 28);
  border: 0.125rem solid rgb(var(--swatch-primary-darker));
  background: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/wlheader_bg.png"), rgba(var(--pale-gray-monochrome), 1);
  background-size: cover;
  box-shadow: inherit;
  font-size: 110%;
  font-weight: 700;
}

@supports (background-blend-mode: screen) {
  .forum-thread-box .description-block {
    background-blend-mode: screen;
  }
}

.thread-container .post .long {
  border: 0.0625rem solid rgba(228, 180, 28, 0.5);
  border: 0.0625rem solid rgba(var(--swatch-primary-darker), 0.5);
}

div.post-container div.post-container {
  padding-left: 0.5rem;
  border-left: 0.25rem double rgb(228, 180, 28);
  border-left: 0.25rem double rgb(var(--swatch-primary-darker));
}

div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form)>a.btn {
  box-shadow: inset 2em 0 0 0 rgb(var(--bright-accent));
}

:not(.page-rate-widget-box):not(#search-top-box-form)>.owindow .button-bar a,
:not(.page-rate-widget-box):not(#search-top-box-form)>div.buttons input,
:not(.page-rate-widget-box):not(#search-top-box-form)>input.button,
:not(.page-rate-widget-box):not(#search-top-box-form)>button,
:not(.page-rate-widget-box):not(#search-top-box-form)>.button,
:not(.page-rate-widget-box):not(#search-top-box-form)>div.buttons input,
:not(.page-rate-widget-box):not(#search-top-box-form)>input.button,
:not(.page-rate-widget-box):not(#search-top-box-form)>button,
:not(.page-rate-widget-box):not(#search-top-box-form)>.btn {
  border-radius: 0.5rem;
}

#login-status:not(.page-rate-widget-box):not(#search-top-box-form)>a.login-status-create-account,
#login-status:not(.page-rate-widget-box):not(#search-top-box-form)>a.login-status-sign-in {
  color: rgb(var(--swatch-text-tertiary-color));
}

.yui-navset .yui-nav a {
  --wght: 400;
  --MONO: 0;
}

.yui-navset .yui-nav li,
.yui-navset .yui-nav li a,
.yui-navset .yui-nav li a::before {
  border-radius: 1rem 1rem 0 0;
}

table.wiki-content-table th {
  border-top-color: rgba(var(--swatch-menutxt-dark-color), 1) !important;
  border-right-color: rgba(var(--swatch-menutxt-light-color), 1) !important;
  border-bottom-color: rgba(var(--swatch-menutxt-light-color), 1) !important;
  border-left-color: rgba(var(--swatch-menutxt-light-color), 1) !important;
  background: rgb(var(--swatch-menubg-dark-color));
  box-shadow: 0 0.125rem 0 0 rgb(var(--swatch-menutxt-light-color));
  color: rgb(var(--swatch-menutxt-light-color));
  font-family: var(--title-font);
  font-weight: 400;
  text-shadow: none;
}

table.wiki-content-table th:first-of-type {
  border-left-color: rgba(var(--swatch-menutxt-dark-color), 1) !important;
}

table.wiki-content-table th:last-of-type {
  border-right-color: rgba(var(--swatch-menutxt-dark-color), 1) !important;
}

#toc {
  border: 0.25rem outset rgb(var(--medium-accent));
  background-color: rgb(var(--dark-gray-monochrome));
}

#toc .title {
  color: rgba(0,0,0,0);
}

.oldblock {
  margin: 1.25rem;
  padding: .75rem;
  border: solid 0.125rem rgb(var(--gray-monochrome));
  background: rgb(var(--light-pale-gray-monochrome));
}

.newblock {
  margin: 1.25rem;
  padding: .75rem;
  border: 0.25rem outset rgb(var(--medium-accent));
  background-color: rgb(var(--dark-gray-monochrome));
  color: rgb(var(--medium-accent));
}

.newblock h1 h2 h3 h4 h5 h6 {
  color: rgb(var(--medium-accent));
}

.wl-image-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 30%;
  box-shadow: 0 0 0 0.0625rem rgba(var(--swatch-tertiary-color), 1), -0.0625rem 0 0 0 rgba(var(--swatch-tertiary-color), 1), 0 0.0625rem 0 0 rgba(var(--swatch-tertiary-color), 0.75);
}

.wl-image-block,
.wl-image-block * {
  border: none;
}

.wl-image-block * {
  width: 100%;
}

.wl-image-block.block-right {
  margin: 0 0 1em 2em;
  float: right;
  clear: right;
}

.wl-image-block.block-left {
  margin: 0 2em 1em 0;
  float: left;
  clear: left;
}

.wl-image-block.block-center {
  margin-right: auto;
  margin-left: auto;
}

.wl-image-block img {
  min-width: 100%;
  border: 0;
}

.wl-image-block img[style*="width:"] {
  width: 100% !important;
}

.wl-image-caption {
  min-width: 100%;
}

.wl-image-block .wl-image-caption {
  --wght: 600;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  background-color: rgb(var(--swatch-alternate-color));
  box-shadow: inset 0 0.0625rem 0 0 rgb(var(--swatch-tertiary-color), 0.75);
  font-size: 0.9em;
  color: rgb(var(--swatch-text-secondary-color));
  letter-spacing: 0.016em;
  line-height: 1.25;
  font-weight: var(--wght);
  text-align: center;
}

.wl-image-block .wl-image-caption>p {
  margin: 0;
  padding: 0;
}

.wl-translations {
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0.625rem;
  float: right;
  border: 0.25rem outset rgb(var(--medium-accent));
  border-radius: 0.0625rem;
  background-color: rgb(var(--dark-gray-monochrome));
}

.wl-translations a {
  color: rgb(var(--bright-accent));
}

.footer-wikiwalk-nav {
  font-size: 90%;
  font-weight: bold;
}

.footnotes-footer {
  clear: both;
}

.wlnavbar {
  --text-shadow: rgba(var(--black-monochrome), 0.35);
  --box-shadow: rgb(var(--gray-monochrome));
  --border-color: rgb(var(--medium-accent));
  margin: 0.625rem 0 0.938rem;
  margin-bottom: 1.250rem;
  padding: 0.125rem;
  border: outset 0.188rem var(--border-color);
  border-radius: 0.0625rem;
  background-color: rgb(var(--dark-gray-monochrome));
  box-shadow: 0.09375rem 0.09375rem 0.188rem var(--box-shadow);
  color: rgb(var(--medium-accent));
  text-shadow: 0.0625rem 0.0625rem 0.125rem var(--text-shadow);
}

.wlnavbar a {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0.45em;
  padding-bottom: 0.35em;
  color: rgb(var(--bright-accent));
}

.wlnavbar a::before {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  height: 100%;
  font-size: calc(var(--base-font-size) * 1.1);
  font-weight: 800;
  line-height: calc(var(--base-font-size) * 0.8);
}

.wlnavbar .footer-wikiwalk-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.wlnavbar .footer-wikiwalk-nav * {
  line-height: 1em;
}

.wlnavbar .footer-wikiwalk-nav .center {
  flex-basis: content;
  padding: 0.15rem 0.3rem;
  text-align: center;
}

.wlnavbar .footer-wikiwalk-nav .left,
.wlnavbar .footer-wikiwalk-nav .right {
  display: inline-flex;
  position: relative;
  flex-basis: calc(40% - 3em);
  align-items: center;
  font-size: calc(var(--base-font-size) * 0.8);
}

.wlnavbar .footer-wikiwalk-nav .left {
  justify-content: flex-end;
  margin: 0.35em 0 0.35em 0.35em;
  padding-right: 0.5em;
  padding-left: 1em;
  border-right: 0.0625rem solid rgb(var(--dark-accent));
  text-align: right;
}

.wlnavbar .left>a::before {
  content: "↫";
  left: -0.75em;
  transition: left 1s ease-in-out;
  will-change: left;
  -webkit-animation: bounce-left 1.7s infinite;
  animation: bounce-left 1.7s infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.wlnavbar .left>a:hover::before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.wlnavbar .footer-wikiwalk-nav .right {
  justify-content: flex-start;
  margin: 0.35em 0.35em 0.35em 0;
  padding-right: 1em;
  padding-left: 0.5em;
  border-left: 0.0625rem solid rgb(var(--dark-accent));
  text-align: left;
}

.wlnavbar .right>a::before {
  content: "↬";
  right: -0.75em;
  transition: right 1s ease-in-out;
  will-change: right;
  -webkit-animation: bounce-right 1.7s infinite;
  animation: bounce-right 1.7s infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.wlnavbar .right>a:hover::before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.collection .articlecolumn .list-pages-item,
.collection .articlecolumn .list-pages-item>div,
.collection .articlecolumn .list-pages-item>p {
  display: inline;
}

.collection .articlecolumn .list-pages-item p {
  margin: 0 !important;
}

.collection>.collapsible-block {
  display: block;
  padding: 0.15em;
  border: 0.0625rem solid black;
  background-color: white;
  text-align: center;
}

.collection .collapsible-block-unfolded-link {
  margin: auto;
  border: 0.125rem solid white;
  background-color: rgba(var(--pale-gray-monochrome), 0.5);
}

.collection .collapsible-block-folded {
  margin: auto;
  border: 0.125rem solid white;
  background-color: rgba(var(--pale-gray-monochrome), 0.5);
}

.collection .collapsible-block-unfolded-link a,
.collection .collapsible-block-folded a {
  color: rgb(var(--dark-accent));
  font-weight: bold;
}

.collection>.collapsible-block .collapsible-block-content {
  text-align: left;
}

.authorname {
  margin: 0 auto;
  border: 0.125rem solid rgb(var(--white-monochrome));
  border: 0.125rem solid white;
  background-color: rgba(var(--pale-gray-monochrome), 0.5);
  color: rgb(var(--black-monochrome));
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  text-align: center;
}

.authorname a {
  color: rgb(var(--medium-accent));
}

.authorname p {
  margin: 0 !important;
}

.titlecolumn {
  width: 15%;
  padding: 0.375rem;
  border: 0.125rem solid white;
  background-color: rgba(var(--pale-gray-monochrome), 0.5);
  text-align: right;
}

.articlecolumn {
  width: 85%;
  padding: 0.1875rem;
  background-color: rgb(var(--white-monochrome));
  font-size: 85%;
  font-weight: normal;
}

.collectiondot {
  padding: 0 0.25rem;
}

.articlecolumn .list-pages-item:last-child .collectiondot {
  display: none;
}

.page-rate-widget-box {
  background: linear-gradient(to top, rgba(30, 55, 30, 1) 0, rgba(130, 160, 135, 1) 100%);
  background: linear-gradient(to top, rgba(var(--swatch-menubg-dark-color), 1) 0, rgba(var(--swatch-menubg-medium-color), 1) 100%);
  letter-spacing: 0.05em;
}

.page-rate-widget-box .rate-points,
.page-rate-widget-box .rateup,
.page-rate-widget-box .ratedown,
.page-rate-widget-box .cancel,
.page-rate-widget-box .rateup a,
.page-rate-widget-box .ratedown a,
.page-rate-widget-box .cancel a {
  font-family: var(--body-font);
  line-height: 2ch;
  --wght: 500;
}

#page-content .rate-box-with-credit-button .creditButton {
  background: var(--ct_col_rate-primary);
  height: calc(100% - 2px);
}
#page-content .rate-box-with-credit-button .creditButton:hover,
#page-content .rate-box-with-credit-button .creditButton:focus {
  background: linear-gradient(to top, rgba(var(--swatch-menubg-medium-color), 1) 0, rgba(var(--swatch-menubg-light-color), 1) 100%);
}

.fancyhr hr {
  box-sizing: border-box;
  height: 0;
  border-top: 2vw solid transparent;
  background: none;
  background-color: rgba(255, 219, 90, 0);
  background-color: rgba(var(--bright-accent), 0);
  border-image-source: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/wl_hr.png");
  border-image-repeat: round round;
  border-image-slice: 80 500 80 500 fill;
  border-image-width: 10em 80em 10em 80em;
}

.fancyborder {
  box-sizing: border-box;
  padding: 2vw;
  border: 2vw solid rgba(0, 0, 0, 0.5);
  border-image: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/wl_border.png") 600 round;
  border-image-width: 6;
}

div.introbox,
div.inner,
div.inner>div,
div.aboutouter,
div.aboutinner {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

div.inner,
div.inner>div,
div.aboutinner {
  background: rgba(var(--pale-gray-monochrome), 0.15);
}

div.introbox,
div.inner,
div.aboutouter {
  border: solid 0.125rem rgba(var(--swatch-primary-darker), 1);
}

div.inner>div,
div.aboutinner {
  border: solid 0.0625rem rgba(var(--swatch-primary-darker), 1);
}

div.introbox,
div.aboutouter {
  background: rgba(var(--swatch-primary-darker), 0.25);
}

div.inner>div {
  flex-grow: 2;
  align-items: center;
}

div.book div.title a,
div.book div.title a:hover,
div.book div.title a:active,
div.book div.title a:visited {
  color: rgb(var(--swatch-primary));
}

#main-content ol {
  list-style-position: inside;
}

div.inner.shelf {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

div.inner.shelf div.left-side>* {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 2;
}

div.inner.shelf>div {
  display: flex;
  flex-basis: 48%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 48%;
}

div.inner.shelf>div * {
  box-sizing: border-box;
}

div.inner.shelf[id*="toc"],
div.inner.shelf [id*="toc"] {
  width: 100%;
  text-align: center;
}

div.left-side table a {
  color: rgb(var(--bright-accent));
  font-family: var(--header-font);
  font-size: 150%;
}

div.left-side table th {
  border: .5rem double rgba(var(--swatch-menubg-medium-dark-color), 0.25) !important;
}

div.inner.shelf div.left-side img.image {
  width: auto;
  height: 40%;
  min-height: 30vh;
  object-fit: cover;
  object-position: 50% 0;
}

div.inner.shelf div.left-side div.description:first-letter {
  margin-top: -0.25em;
  margin-bottom: -0.25em;
  padding-right: 0.25rem;
  padding-left: 1.15rem;
  float: left;
  color: rgb(var(--gray-monochrome));
  font-family: var(--header-font);
  font-size: 400%;
  line-height: 100%;
}

div.inner.shelf div.left-side div.description {
  padding: 0 2em 1em;
  font-size: 95%;
  line-height: 165%;
  text-align: justify;
  text-indent: -0.25em;
  text-justify: inter-character;
}

div.right-side blockquote {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

div.right-side div.bookshelf {
  position: relative;
  height: 100%;
  padding: 2em;
  overflow: hidden;
  border-radius: 0.5em;
  background-image: linear-gradient(rgb(30, 55, 30) 0%, rgb(30, 55, 30) 30%, rgb(255, 219, 90) 100%);
  ;
  background-size: 100% 200%;
}

@supports (background-blend-mode: screen) {
  div.right-side div.bookshelf {
    background-image: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/goldfoil.png"), linear-gradient(rgb(30, 55, 30) 0%, rgb(30, 55, 30) 30%, rgb(255, 219, 90) 100%);
    background-blend-mode: overlay, normal;
    background-size: cover, 100% 200%;
  }
}

div.right-side div.bookshelf::before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
  opacity: 0.25;
  background: linear-gradient(rgb(30, 55, 30) 0%, rgb(30, 55, 30) 30%, rgb(255, 219, 90) 100%);
  ;
  background-size: 100% 200%;
  pointer-events: none;
  mix-blend-mode: overlay;
}

div.bookshelf div.list-pages-box {
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  margin-bottom: 2em;
  transform: perspective(500rem);
  transform-origin: top center;
  transform-style: preserve-3d;
}

div.bookshelf div.list-pages-box::after,
div.ibookshelf div.list-pages-box::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1em;
}

div.bookshelf div.list-pages-box::after {
  bottom: -1em;
  transform: translateZ(2em) translateY(0.1em);
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: rgb(var(--dark-accent));
}

@supports (background-blend-mode: screen) {
  div.bookshelf div.list-pages-box::after {
    background-image: url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/goldfoil.png");
    background-blend-mode: overlay;
  }
}

div.bookshelf div.list-pages-box::before {
  bottom: -1.2em;
  left: -2%;
  width: 104%;
  margin: 0 auto;
  transform: rotateX(92deg) scaleY(35) translateZ(-0.5em) translateY(-1em);
  background-color: rgb(30, 55, 30);
}

div.inner.shelf div.book {
  display: flex;
  position: relative;
  width: 95%;
  height: auto;
  margin: 0.05em auto;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.5em;
  box-shadow: 0.6875rem 0.375rem 0.875rem rgba(var(--dark-gray-monochrome), 0.25), 0.1875rem 0em 0.3125rem rgba(var(--dark-gray-monochrome), 0.22);
  will-change: transform;
}

div.inner.shelf div.book:hover {
  transform: translateZ(10rem) translateY(-0.35em) rotateY(5deg);
}

div.book div.title {
  height: 100%;
  border-left: 0.25rem double rgb(var(--swatch-primary-darker));
  font-family: var(--header-font);
  font-weight: 900;
}

div.title * {
  display: block;
}

div.book>* {
  display: inline-flex;
  align-items: center;
  margin: 0.25rem;
  padding: 0.25rem;
}

div.book div.author {
  flex-grow: 2;
  justify-content: flex-end;
  padding-right: 1em;
  border-right: 0.25rem double rgb(var(--swatch-primary-darker));
  color: rgb(var(--pale-gray-monochrome));
  font-size: 75%;
  font-weight: 700;
  text-align: right;
}

div.inner.shelf div.book::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0.25rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(var(--pale-gray-monochrome)) 0%, rgba(var(--gray-monochrome)) 4%, rgba(var(--gray-monochrome)) 4%, rgba(var(--gray-monochrome)) 95%, rgba(var(--dark-gray-monochrome)) 100%);
  pointer-events: none;
}

div.inner.shelf div.book::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -0.125rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(179.5deg, rgba(252, 252, 252) 0%, rgba(45, 70, 45) 10%, rgba(45, 70, 45) 10%, rgba(45, 70, 45) 97%, rgba(12, 12, 12) 100%);
  background-size: 100% 100%;
  pointer-events: none;
}

@supports (background-blend-mode: screen) {
  div.inner.shelf div.book::after {
    background: linear-gradient(179.5deg, rgba(var(--white-monochrome)) 0%, rgba(var(--gray-monochrome)) 10%, rgba(var(--gray-monochrome)) 10%, rgba(var(--gray-monochrome)) 97%, rgba(var(--black-monochrome)) 100%), url("http://fondationscp.wdfiles.com/local--files/vagabonds%3Atheme/wlheader_bg.png");
    mix-blend-mode: screen;
    background-blend-mode: color-dodge;
    background-size: 100% 100%, contain;
  }
}

@media only screen and (max-width: 56.25rem) {
  div.inner.shelf {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
  }

  div.description {
    padding: 0.5em;
  }

  div.inner.shelf>div {
    flex-basis: 100%;
  }

  div.inner.shelf div.list-pages-box::after {
    bottom: -1em;
    transform: translateZ(2em) translateY(0.5em);
    background-color: rgb(var(--dark-accent));
  }

  div.inner.shelf div.list-pages-box::before {
    bottom: -1em;
    left: -1.5%;
    width: 103%;
    transform: rotateX(92deg) scaleY(35) translateZ(-0.5em) translateY(-1em);
    background-color: rgb(var(--black-monochrome));
  }
}

@media only screen and (max-width: 56.25rem) {
  :root {
    --header-height-on-desktop: var(--header-height-on-mobile);
    --topbar-height-on-desktop: var(--topbar-height-on-mobile);
  }

  #header h1 a {
    line-height: 1;
  }

  #header h2 span {
    margin-top: calc(3.4rem + var(--offset-from-page-top));
  }

  div#extra-div-1 {
    -webkit-filter: initial;
    filter: initial;
  }

  #search-top-box-form {
    top: 0;
  }
}

@media only screen and (max-width: 56.25rem) {
  search-top-box {
    width: 12.5rem;
  }

  #search-top-box-form {
    top: 0;
    right: 0;
    align-items: initial;
  }

  #search-top-box form[id="search-top-box-form"] {
    top: 0;
  }

  #search-top-box:not(:focus-within)::before {
    color: rgb(var(--bright-accent));
  }

  #search-top-box form[id="search-top-box-form"]:not(:focus-within) input[type="text"] {
    background-color: rgb(var(--dark-gray-monochrome));
  }

  #top-bar {
    flex-direction: row-reverse;
  }

  #top-bar>div[class*="top-bar"] {
    display: inline-flex;
    flex-grow: 2;
    width: calc(100vw - var(--topbar-height-on-mobile));
    max-width: calc(100vw - var(--topbar-height-on-mobile));
    height: calc(var(--topbar-height-on-mobile));
  }

  #header div[class*="top-bar"]>ul {
    width: 100%;
  }

  #top-bar>div.mobile-top-bar {
    flex-grow: 0;
    width: var(--topbar-height-on-mobile);
    max-width: var(--topbar-height-on-mobile);
    height: var(--topbar-height-on-mobile);
    max-height: var(--topbar-height-on-mobile);
    background: initial;
  }

  #side-bar {
    left: calc(var(--sidebar-width-on-mobile) * -1);
    width: var(--sidebar-width-on-mobile);
    min-width: var(--sidebar-width-on-mobile);
    transition: left var(--sidebar-transition-timing), opacity var(--sidebar-transition-timing);
    will-change: left, opacity;
  }

  #side-bar,
  #side-bar:target {
    display: flex;
  }

  #side-bar:target {
    width: var(--sidebar-width-on-mobile);
  }

  #side-bar .close-menu {
    visibility: visible;
    margin-left: 0;
    padding-right: var(--sidebar-width-on-mobile);
    transition: margin-left var(--sidebar-transition-timing), padding-right var(--sidebar-transition-timing), background-color var(--sidebar-transition-timing), opacity var(--sidebar-transition-timing);
    opacity: 1;
    background-color: rgba(var(--swatch-menubg-black-color), 0);
    will-change: margin-left, padding-right, background-color, opacity;
  }

  #side-bar .close-menu,
  #side-bar:target .close-menu {
    width: calc(100% - var(--sidebar-width-on-mobile));
  }

  #side-bar:target .close-menu {
    margin-left: var(--sidebar-width-on-mobile);
    opacity: 1;
    background-color: rgba(var(--swatch-menubg-black-color), 0.3);
  }

  body {
    background: inherit;
  }

  #main-content {
    margin-left: inherit;
  }

  div#page-options-bottom {
    width: 90%;
  }

  .yui-navset {
    z-index: inherit;
  }

  .scp-image-block,
  .scp-image-block img {
    width: 100% !important;
  }
}

@media (max-width: 61.1875rem) and (min-width: 56.25rem) {
  #main-content {
    margin-left: calc(50vw - (44.25rem / 2) - 2rem);
    margin-left: calc(50vw - (var(--body-width-on-desktop / 2) - 2rem));
  }
}

@-webkit-keyframes tab-active {
  0% {
    margin-top: 0;
    margin-right: 0;
    padding-top: 0;
  }

  100% {
    margin-top: -0.5em;
    margin-right: 0.0625rem;
    padding-top: 0.5em;
  }
}

@keyframes tab-active {
  0% {
    margin-top: 0;
    margin-right: 0;
    padding-top: 0;
  }

  100% {
    margin-top: -0.5em;
    margin-right: 0.0625rem;
    padding-top: 0.5em;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pager .target:last-of-type {
  min-width: min-content;
  text-transform: capitalize;
}

/* FR compatibility fixes */
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:first-of-type,
div[id*="page-options-bottom"]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:nth-of-type(8) {
  flex-basis: 7rem;
}

ul.creditRate {
  list-style: none;
}
