// Variables
$ratebox-bg: var(--ct_col_rate-primary, #633)
$ratebox-border: var(--ct_brd_rate-primary, 1px solid #633)
$ratebox-brdrad: var(--ct_dim_rate-border-radius, 5px)
$ratebox-shadow: 1px 1px 3px rgba(0 0 0 / 50%)

:root
  --ct_col_rate-link-hover: #c99

#u-credit-view
  &, #u-credit-otherwise
    width: 100%
    height: 100%
    inset: 0
    position: fixed
    display: flex
    z-index: 10

  .modalbox
    background-color: #fff

    &::after
      content: ""
      display: block
      width: 100%
      height: 30px
  
  .credit-back, .creditBottomRate
    display: none

  &-button
    display: block
    text-align: right

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@media (max-width: 767px)
  #u-credit-view
    height: 100%
    top: 0
  
  .modalcontainer, .modalbox
    min-width: 300px

/* Grey background for the modal window */
.fader
  background-color: rgba(0 0 0 / 50%)

  &, iframe
    position: absolute
    width: 100%
    height: 100%
    inset: 0

/* Container of the modal, displayed upon pressing the credit button */
.modalcontainer
  position: absolute
  inset: 0
  width: 400px
  height: 200px
  margin: auto

/* The actual modal and contents */
.modalbox
  position: relative
  min-width: calc(300px - 2rem)
  max-width: 450px
  min-height: 200px
  margin-inline: 1rem
  background-color: var(--ct_bg_body, #fff)
  border-radius: $ratebox-brdrad
  box-shadow: 0 2px 6px rgba(102 0 0 / 50%)

  .modalbox-title
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    min-height: 50px
    background: #ccc
    margin-bottom: 14px
    border-radius: $ratebox-brdrad $ratebox-brdrad 0 0

  .credit
    margin: 1.5rem 2rem 1.75rem
    padding-right: 0.25em
    word-wrap: break-word
    overflow-wrap: break-word

    p
      margin: 0

    & + .credit
      margin-bottom: 0.5em

    &.otherwise
      overflow-y: auto
      min-height: 150px
      max-height: 300px

.credit-back .back a
  display: none

  &::before
    content: "Back"

/* CREDIT BUTTON */
/* --- Primary container with rating module and credit button --- */
.creditRate
  display: inline-flex
  flex-direction: row
  align-items: center
  float: right
  margin-bottom: 10px
  margin-right: 2em

  .audio-img-block
    top: 0

  .rateBox
    display: inline-flex

/* General settings for the Credit button */
.page-rate-widget-box
  .rate-points
    border: var(--ct_brd_rate-primary)
    border-right: 0

  .cancel
    border: var(--ct_brd_rate-primary)
    border-left: 0
    border-radius: 0 $ratebox-brdrad $ratebox-brdrad 0

    a:hover
      color: var(--ct_col_rate-link-hover, #c99)
      padding-top: 0
      padding-bottom: 0

.creditButton
  display: grid
  place-content: center
  place-items: center
  width: 24px
  height: 16px
  background-color: $ratebox-bg
  box-shadow: $ratebox-shadow
  border: $ratebox-border
  border-radius: $ratebox-brdrad
  margin-left: 0.3rem
  font-size: 0.8rem

  a
    width: 24px
    border-left: none
    margin-left: 0
    font-size: 11px
    text-align: center
    text-decoration: none
    color: var(--ct_col_rate-secondary, #fff6f0)

  .fa
    height: 12px

    &-info::before
      position: relative
      top: 1px

    &:hover
      color: var(--ct_col_rate-link-hover, #c99)

/* Standalone Credit-Button */
.creditButtonStandalone a
  display: inline-flex
  justify-content: center
  align-items: center
  width: 24px
  height: 16px
  background-color: $ratebox-bg
  box-shadow: $ratebox-shadow
  border: $ratebox-border
  border-radius: $ratebox-brdrad
  color: var(--ct_col_rate-secondary, #fff6f0)

  &:hover
    color: var(--ct_col_rate-link-hover, #c99)
    text-decoration: none

/* --- The actual rating module --- */

.rate-box-with-credit-button
  display: inline-flex
  flex-direction: row
  justify-content: center
  align-items: center
  min-width: 150px
  height: 18px
  margin-right: 2em
  margin-bottom: 1.25em
  background-color: transparent
  box-shadow: none
  border: none
  border-radius: $ratebox-brdrad

.page-rate-widget-box
  display: inline-flex
  align-items: center
  box-shadow: $ratebox-shadow
  border-radius: $ratebox-brdrad
  background: var(--ct_col_rate-primary, #633) !important

  span
    display: inline-flex
    justify-content: center
    box-sizing: border-box
    height: 18px
    margin: 0
    align-items: center

  .rate-points
    font-weight: bolder
    font-size: 0.825rem
    padding-block: 1px
    border: var(--ct_brd_rate-primary)
    border-right: none
    border-radius: $ratebox-brdrad 0 0 $ratebox-brdrad
    /* Let general bg define color */
    background-color: transparent !important

  a:hover
    text-decoration: none

  :is(.rateup, .ratedown)
    background: var(--ct_col_rate-secondary, #fff6f0)
    border-bottom: var(--ct_brd_rate-primary, solid 1px #633)
    border-top: var(--ct_brd_rate-primary, solid 1px #633)
    font-weight: bold

    a
      display: inline-flex
      justify-content: center
      align-items: center
      margin: 0 0.06rem
      padding: 0 0.3rem
      font-size: 0
      font-family: 'FontAwesome'
      font-weight: 400
      padding: 2px 5px
      height: 16px
      box-sizing: border-box
      background: transparent
      color: var(--ct_col_rate-primary, #633)

      &:hover
        background: var(--ct_col_rate-primary, #633)
        color: var(--ct_col_rate-link-hover, #fffff0)

  .rateup a::before
    content: '\f067'
    font-size: 10px

  .ratedown a::before
    content: '\f068'
    font-size: 10px

  .cancel
    border: $ratebox-border
    border-left: none
    border-radius: 0 $ratebox-brdrad $ratebox-brdrad 0
    background-color: transparent
    padding: 0
    background: var(--ct_col_rate-primary,#633)

    a
      font-family: 'FontAwesome'
      font-weight: 400
      font-size: 0
      height: 12px
      padding: 2px 7px
      background: transparent
      color: var(--ct_col_rate-cancel, #fff6f0)
      text-transform: uppercase

      &:hover
        border-radius: 0 $ratebox-brdrad $ratebox-brdrad 0
        background: var(--ct_col_rate-primary, #633)
        color: var(--ct_col_rate-link-hover, #c99)

      &::before
        content: '\f00d'
        font-size: 11px

#page-content div.creditRate, #page-content div.creditRate div
  max-width: none
 
@media (max-width: 479px)
  .creditBottomRate .dendo
     position: absolute
     top: 0
     left: 2em

/* ------------------------- FR SPECIFICS ------------------------- */

/* [[toc]] fix */
#toc-list div:first-of-type[style*="margin-left: 2em"]
  display: none

/* display: contents method */

.modal-wrapper
  &, & > li .foldable-list-container
    list-style: none
    display: contents

  > li > .pseudomodal-container
    display: flex
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    align-items: center
    justify-content: center
    z-index: 19

    opacity: 1
    pointer-events: all
    user-select: auto
    visibility: visible
    transition: opacity 150ms ease-out
    animation: 150ms fademodal forwards

    > .foldable-list-container.close a
      position: absolute
      display: block
      width: 100%
      height: 100%
      color: transparent
      z-index: -1
      background-color: rgba(0 0 0 / 35%)
      user-select: none

    > .pseudomodal
      display: block
      width: 85%
      max-width: 40rem
      z-index: 1
      background-color: #fefefe

      > .pseudomodal-content
        padding: 0.75rem 1.5rem
        height: 60%
        max-height: 25rem
        overflow-y: auto

  > li.folded > .pseudomodal-container
    opacity: 0
    pointer-events: none
    user-select: none
    visibility: hidden

@keyframes fademodal
  99%
    visibility: hidden
  
  100%
    visibility: visible

/* No avatar in the module */
.modalbox .printuser.avatarhover a:first-of-type
  display: none